

.row1{
    margin: 2px;
    height: 50px;
    width: 450px;
}

.row1 button
{
    margin: 2px;
    height: 35px;
    width: 50px;
}
.row2
{
    margin: 2px;
    height: 50px;
    width: 450px;
}
.row2 button
{
    margin: 2px;
    height: 35px;
    width: 50px;
}
.row3
{
    margin: 2px;
    height: 50px;
    width: 450px;
}
.row3 button
{
    margin: 2px;
    height: 35px;
    width: 50px;
}
.row4
{
    margin: 2px;
    height: 50px;
    width: 450px;
}
.row4 button
{
    margin: 2px;
    height: 35px;
    width: 50px;
}
.row5 button
{
    height: 30px;
    width: 230px;
    
}
.enter
{
    background-color: rgb(103, 104, 104);
}